addict
clip
diffusers
easydict
einops
fairscale
fiftyone
huggingface_hub
ipdb
matplotlib
motmetrics
munkres
numpy
onnxruntime
open3d
opencv_python
packaging
pandas
pavi
Pillow
plyfile
pycocotools
pyrender
PyYAML==6.0
Requests==2.26.0
scipy
seaborn
setuptools==60.2.0
supervision==0.6.0
termcolor
timm
torch
torchvision
tqdm
transformers
trimesh
typer
yapf
clip
shapely 
scikit-image
safetensors
pytorch-lightning
requests
nltk
litellm
segment_anything
groundingdino-py
accelerate
kornia
git+https://github.com/facebookresearch/detectron2