shapely 
opencv-python
scikit-image
numpy
Pillow
safetensors
pytorch-lightning
addict
diffusers
huggingface_hub
matplotlib
onnxruntime
opencv_python
pycocotools
PyYAML
requests
setuptools
supervision==0.8.0
termcolor
timm
torch
torchvision
transformers
yapf
nltk
fairscale
litellm
segment_anything
groundingdino-py
diffusers==0.11.1
git+https://github.com/MaureenZOU/detectron2-xyz.git